# Tabular Playground Series - Oct 2021
### Practice your ML skills on this approachable dataset!

https://www.kaggle.com/c/tabular-playground-series-oct-2021/overview

In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv') # approx. 2.3 GB
train

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f276,f277,f278,f279,f280,f281,f282,f283,f284,target
0,0,0.205979,0.410993,0.176775,0.223581,0.423543,0.476140,0.413590,0.612021,0.534873,...,0,1,0,0,0,0,0,0,0,1
1,1,0.181004,0.473119,0.011734,0.213657,0.619678,0.441593,0.230407,0.686013,0.281971,...,0,1,0,0,0,0,0,0,0,1
2,2,0.182583,0.307431,0.325950,0.207116,0.605699,0.309695,0.493337,0.751107,0.536272,...,0,0,0,1,1,0,0,0,0,1
3,3,0.180240,0.494592,0.008367,0.223580,0.760618,0.439211,0.432055,0.776147,0.483958,...,0,0,0,0,1,0,0,0,0,1
4,4,0.177172,0.495513,0.014263,0.548819,0.625396,0.562493,0.117158,0.561255,0.077115,...,0,1,1,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,0.204312,0.344754,0.262267,0.228333,0.610727,0.357463,0.490586,0.613655,0.509203,...,0,0,0,1,0,0,1,0,0,1
999996,999996,0.182004,0.564019,0.242564,0.241178,0.453623,0.469513,0.477518,0.659226,0.519219,...,0,0,0,0,0,0,0,0,1,0
999997,999997,0.250304,0.491553,0.098547,0.235656,0.771272,0.368018,0.531642,0.598111,0.618474,...,0,0,0,0,0,0,0,0,0,0
999998,999998,0.203572,0.534923,0.180118,0.213109,0.654544,0.535152,0.316271,0.652522,0.398026,...,0,0,0,0,0,0,0,0,0,1
999999,999999,0.160972,0.596308,0.013061,0.280355,0.579849,0.401904,0.493870,0.611947,0.531370,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X = train.drop(columns=['id', 'target'])
y = train['target']

y.value_counts() # classification

1    500485
0    499515
Name: target, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=1)

X_train.shape, X_val.shape

((750000, 285), (250000, 285))

In [9]:
%%time
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(random_state=1, n_jobs=-1)

clf.fit(X_train, y_train)

RandomForestClassifier(n_jobs=-1, random_state=1)

In [10]:
clf.score(X_val, y_val)

0.758392

In [11]:
test = pd.read_csv('test.csv') # approx. 1.2GB
test

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f275,f276,f277,f278,f279,f280,f281,f282,f283,f284
0,1000000,0.178216,0.435617,0.010230,0.202074,0.390170,0.324221,0.221722,0.738894,0.582588,...,1,0,0,0,0,0,1,1,1,0
1,1000001,0.181250,0.476455,0.022413,0.283146,0.598020,0.349508,0.283467,0.721575,0.268990,...,0,0,0,0,0,0,0,0,0,0
2,1000002,0.159721,0.451202,0.259649,0.365274,0.594634,0.413502,0.249318,0.642339,0.411104,...,0,0,0,0,0,0,1,0,0,0
3,1000003,0.182424,0.520976,0.095344,0.327742,0.741830,0.358711,0.270077,0.601662,0.297742,...,0,0,0,0,0,1,1,0,0,0
4,1000004,0.229329,0.336513,0.023511,0.300913,0.668738,0.481586,0.545660,0.667849,0.546045,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1499995,0.185473,0.525338,0.014945,0.204029,0.498957,0.431933,0.470553,0.731268,0.452134,...,1,0,0,0,0,0,1,0,0,0
499996,1499996,0.183194,0.553266,0.008055,0.280651,0.636591,0.478092,0.450386,0.582647,0.517270,...,1,0,0,0,0,0,0,1,0,0
499997,1499997,0.184650,0.533643,0.011218,0.201262,0.720698,0.472888,0.427469,0.589259,0.243879,...,1,1,0,0,0,0,0,0,0,0
499998,1499998,0.227731,0.513247,0.178603,0.313778,0.665656,0.401365,0.183369,0.708233,0.575135,...,0,0,0,0,0,0,1,0,0,0
499999,1499999,0.185561,0.406225,0.097598,0.327129,0.655168,0.384097,0.330797,0.747355,0.409955,...,1,0,0,0,0,1,0,0,0,0

In [12]:
X_test = test.drop(columns=['id'])

In [17]:
y_pred = clf.predict_proba(X_test)[:, 1]
y_pred

array([0.69, 0.3 , 0.75, ..., 0.38, 0.67, 0.38])

In [18]:
submit = pd.read_csv('sample_submission.csv')
submit['target'] = y_pred
submit

             id  target
0       1000000    0.69
1       1000001    0.30
2       1000002    0.75
3       1000003    0.72
4       1000004    0.31
...         ...     ...
499995  1499995    0.88
499996  1499996    0.63
499997  1499997    0.38
499998  1499998    0.67
499999  1499999    0.38

[500000 rows x 2 columns]

In [19]:
submit.to_csv('submit_1.csv', index=False)